<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <servlet>
    <servlet-name>StartPageServlet</servlet-name>
    <servlet-class>ru.carSales.servlets.StartPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartPageServlet</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllCarsServlet</servlet-name>
    <servlet-class>ru.carSales.servlets.GetAllCarsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCarsServlet</servlet-name>
    <url-pattern>/getCars</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateOfferServlet</servlet-name>
    <servlet-class>ru.carSales.servlets.CreateOfferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOfferServlet</servlet-name>
    <url-pattern>/createOffer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ru.carSales.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ru.carSales.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOfferServlet</servlet-name>
    <servlet-class>ru.carSales.servlets.UpdateOfferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOfferServlet</servlet-name>
    <url-pattern>/updateOffer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOfferServlet</servlet-name>
    <servlet-class>ru.carSales.servlets.DeleteOfferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOfferServlet</servlet-name>
    <url-pattern>/deleteOffer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>ru.carSales.servlets.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FilterLogin</filter-name>
    <filter-class>ru.carSales.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterLogin</filter-name>
    <servlet-name>CreateOfferServlet</servlet-name>
  </filter-mapping>
</web-app>