<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/hibernate_db</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>


        <mapping resource="ru/job4j/configuration/models/User.hbm.xml"/>
        <mapping resource="ru/job4j/todoList/models/Item.hbm.xml"/>

        <mapping resource="ru/job4j/car/modelsForXml/Engine.hbm.xml"/>
        <mapping resource="ru/job4j/car/modelsForXml/Car.hbm.xml"/>
        <mapping resource="ru/job4j/car/modelsForXml/Driver.hbm.xml"/>

        <mapping class="ru.job4j.car.modelsForAnnotations.EngineForAnnotations"/>
        <mapping class="ru.job4j.car.modelsForAnnotations.CarWithAnnotations"/>
        <mapping class="ru.job4j.car.modelsForAnnotations.DriverWithAnnotations"/>

        <mapping class="ru.job4j.test.manyToOne.UserForOne"/>
        <mapping class="ru.job4j.test.manyToOne.ItemForOne"/>

        <mapping class="ru.job4j.test.oneToMany.CarsForOneToMany"/>
        <mapping class="ru.job4j.test.oneToMany.ModelsForOneToMany"/>

        <mapping class="ru.job4j.test.manyToMany.Address"/>
        <mapping class="ru.job4j.test.manyToMany.Person"/>

        <mapping class="ru.job4j.hql.Candidate"/>
        <mapping class="ru.job4j.hql.Vacancy"/>
        <mapping class="ru.job4j.hql.BaseOfVacancy"/>

    </session-factory>
</hibernate-configuration>
